{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block main %}
  <h3><i class="fa fa-angle-right"></i> Delete Medication</h3>
  <div>
    <form class="row g-3 bg-white p-4 mt-3" method="post">
        <div class="col-md-4">
          <label for="patientCode" class="form-label">Patient Code: </label>
          <span>{{id}}</span>
        </div>
        <div class="col-md-4">
          <label for="patientCode" class="form-label">Patient Name: </label>
          <span>Joye</span>
          <span>Kwasi</span>
          <span>Bonzie</span>
        </div>
        <div class="col-md-4">
          <label for="patientCode" class="form-label">Sex: </label>
          <span>Male</span>
        </div>
        <div class="col-md-12">
          <label for="Medication" class="form-label">Medication</label>
          <textarea class="form-control" rows="6" required></textarea>
        </div>
  
        <div class="col-md-6">
          <label for="prescriptiondate" class="form-label">Prescription Date</label>
          <input type="date" class="form-control" name="prescriptiondate">
        </div>
  
        <div class="col-md-6">
          <label for="priscribedBy" class="form-label">Doctor's Name</label>
          <input type="text" class="form-control" name="priscribedBy" value="">
        </div>
        <div class="col-md-12">
          Click YES to confirm
          <button type = "submit" class="btn btn-danger mx-3">Yes</button>
          <a href='/data' class="btn btn-small btn-theme">Cancel</a>
        </div>
    </form>
  </div>
{% endblock %}