{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block main %}
  <h3><i class="fa fa-angle-right"></i> Edit Medication</h3>
  <div>
    <form class="row g-3 bg-white p-4 mt-3" method="post">
      {% block flashMessages %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
                {% for message in messages %}
                <li class="text-danger p-2">{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      {% endblock%}
      <div class="col-md-4">
        <label for="patientCode" class="form-label">Patient Code</label>
        <input type="text" class="form-control" name="firstname" value="">
      </div>

      <div class="col-md-4">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firstname" value="">
      </div>

      <div class="col-md-4">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firstname" value="">
      </div>
      <div class="col-md-12">
        <label for="Medication" class="form-label">Medication</label>
        <textarea class="form-control" rows="6" value=""></textarea>
      </div>

      <div class="col-md-4">
        <label for="prescriptiondate" class="form-label">Prescription Date</label>
        <input type="date" class="form-control" name="prescriptiondate">
      </div>

      <div class="col-md-4">
        <label for="priscribedBy" class="form-label">Doctor's Name</label>
        <input type="text" class="form-control" name="priscribedBy" value="">
      </div>

      <div class="col-md-4">
        <label for="status" class="form-label">Status</label>
        <select class="form-control" aria-label="Default select example" name="status" >
          <option value="" selected="selected" hidden="hidden">Choose status</option>
          <option value="fulfilled">Fulfilled</option>
          <option value="requested">Requested</option>
        </select>
      </div>

      <div class="col-md-3">
        <button type="submit" name="submit" class="btn btn-small btn-theme">Update Medication</button>
        <button type="submit" name="submit" class="btn btn-small btn-danger">Cancel</button>
      </div>

    </form>
  </div>
{% endblock %}