{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block main %}
  <h3><i class="fa fa-angle-right"></i> New Appointment</h3>
  <div>
    <form class="row g-3" method="post">
      <div class="col-md-4">
        <label for="patientCode" class="form-label">Patient Code</label>
        <input type="text" class="form-control" name="patientCode" required>
      </div>
      <div class="col-md-4">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firstname" required>
      </div>
      <div class="col-md-4">
        <label for="middlename" class="form-label">Middle Name</label>
        <input type="text" class="form-control" name="middlename">
      </div>
      <div class="col-md-4">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="lastname" required>
      </div>
      <div class="col-md-2">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" name="age" required>
      </div>
      <div class="col-md-4">
        <label for="dateofbirth" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" name="dateofbirth" required>
      </div>
      <div class="col-md-2">
        <label for="sex" class="form-label">Sex</label>
        <select class="form-control" aria-label="Default select example" onchange="alert(this.value)" name="sex">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="selectDoctor" class="form-label block">Select a Doctor</label>
        <select name="doctoremail" class="form-control">
          {% for d in alldoctors %}
            <option value="{{d.name}} {{d.email}}">{{d.name}}---->{{d.specialization}}</option>
          {% endfor %}
        </select>
      </div>
  
      <div class="col-md-4">
        <label for="type" class="form-label">Type</label>
        <select class="form-control" aria-label="Default select example" onchange="alert(this.value)" name="type">
          <option value="consultation">Consultation</option>
          <option value="medication">Medication</option>
          <option value="imaging">Imaging</option>
          <option value="lab">Lab</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="type" class="form-label">Type</label>
        <select class="form-control" aria-label="Default select example" onchange="alert(this.value)" name="status">
          <option value="scheduled">Scheduled</option>
          <option value="attended">Attended</option>
          <option value="cancelled">Cancelled</option>
          <option value="missed">Missed</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="appointmentdate" class="form-label">Appointment Date</label>
        <input type="date" class="form-control" name="appointmentdate">
      </div>

      <div class="col-md-6">
        <label for="appointmenttime" class="form-label">Appointment Time</label>
        <input type="time" class="form-control" name="appointmenttime">
      </div>

      <div class="col-md-12">
        <label for="note" class="form-label">Note</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
  
      <div class="col-10 mt-4">
        <button type="submit" class="btn btn-small btn-theme">Add Appointment</button>
      </div>
    </form>
  </div>
{% endblock %}