{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block main %}
  <h3><i class="fa fa-angle-right"></i> Capture Patient Vitals</h3>
  <div>
    <form class="row g-3 bg-white p-4 mt-3" method="post">
      {% block flashMessages %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
                {% for message in messages %}
                <li class="text-danger p-2">{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      {% endblock%}
      <div class="col-md-4">
        <label for="patientCode" class="form-label">Patient Code</label>
        <input type="number" id="patient_id" class="form-control" name="patientCode" required>
      </div>
      <div class="col-md-4">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstname" name="firstname" required>
      </div>
      <div class="col-md-4">
        <label for="middlename" class="form-label">Middle Name</label>
        <input type="text" class="form-control" id="middlename" name="middlename">
      </div>
      <div class="col-md-4">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="lastname" required>
      </div>
      <div class="col-md-2">
        <label for="age" class="form-label">Age</label>
        <input type="number" min="0" step="any" class="form-control" id="age" name="age" required>
      </div>
      <div class="col-md-4">
        <label for="dateofbirth" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" name="dateofbirth" required>
      </div>
      <div class="col-md-2">
        <label for="sex" class="form-label">Sex</label>
        <select class="form-select" aria-label="Default select example" onchange="alert(this.value)" name="sex">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <hr/>
      <div class="col-md-3">
        <label for="weight" class="form-label">Weight</label>
        <div class="input-group">
          <input type="number" step="any" min="0" class="form-control" name="weight" aria-label="Weight in kilogram">
          <span class="input-group-text">Kg</span>
        </div>
      </div>
      <div class="col-md-3">
        <label for="height" class="form-label">Height</label>
        <div class="input-group">
          <input type="number" step="any" min="0" class="form-control" name="height" aria-label="Height in kilogram">
          <span class="input-group-text">Cm</span>
        </div>
      </div>
      <div class="col-md-3">
        <label for="bmi" class="form-label">Calculated BMI</label>
        <div class="input-group">
          <input type="number" step="any" min="0" class="form-control" name="calculatedBMI"aria-label="Calculated BMI">
          <span class="input-group-text">BMI</span>
        </div>
      </div>
      <div class="col-md-3">
        <label for="temperature" class="form-label">Temperature</label>
        <div class="input-group">
          <input type="number" step="any" min="0" class="form-control" name="temperature" aria-label="Temperature">
          <span class="input-group-text">°C</span>
        </div>
      </div>
      <div class="col-md-3">
        <label for="pulse" class="form-label">Pulse</label>
        <div class="input-group">
          <input type="number" step="any" min="0" class="form-control" name="pulse" aria-label="Pulse">
          <span class="input-group-text">/min</span>
        </div>
      </div>
      <div class="col-md-3">
        <label for="respiratoryRate" class="form-label">Respiratory Rate</label>
        <div class="input-group">
          <input type="number" step="any" min="0" class="form-control" name="respiratoryRate" aria-label="Respiratory">
          <span class="input-group-text">/min</span>
        </div>
      </div>
      <div class="col-md-3">
        <label for="bloodPressure" class="form-label">Blood Pressure</label>
        <div class="input-group">
          <input type="number" step="any" min="0" class="form-control" name="bloodPressureone" aria-label="Blood Pressure">
          /
          <input type="number" step="any" min="0" class="form-control" name="bloodPressuretwo" aria-label="Blood Pressure">
        </div>
      </div>
      <div class="col-md-3">
        <label for="pulse-oximeter" class="form-label">Arterial blood oxygen sat.(pulse oximeter)</label>
        <div class="input-group">
          <input type="number" step="any" min="0" class="form-control" name="pulseOximeter" aria-label="pulse-oximeter">
          <span class="input-group-text">%</span>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-small btn-theme" name="submit" value="captureVitals">Add Vitals</button>
      </div>
    </form>
  </div>
{% endblock %}