{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block main %}
  <h3><i class="fa fa-angle-right"></i> View Patients</h3>
  <div>
    <form method="post">
    <table id="example" class="table table-striped bg-white p-4 mt-3">
      <thead>
          <tr>
              <th>Patient Code</th>
              <th>First Name</th>
              <th>LastName</th>
              <th>Gender</th>
              <th>Date of Birth</th>
              <th>Status</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>

          {% for x in all_patients %}
          <tr>
            <td>{{x.id}}</td>
            <td>{{x.firstname}}</td>
            <td>{{x.middlename}}</td>
            <td>{{x.sex}}</td>
            <td>{{x.dateofbirth}}</td>
            <td>{{x.status}}</td>
            <td>
              <button type="submit" class="btn btn-small btn-theme" name="submit"  value="edit{{x.id}}">Edit</button>
              <button class="btn btn-small btn-secondary" name="submit" type="submit" value="checkin{{x.id}}">CheckIn</button>
              <button class="btn btn-small btn-danger" name="submit" type="submit" value="delete{{x.id}}">Delete</button>
            </td>
          </tr>
          {% endfor %}


      </tbody>
      <tfoot>
          <tr>
              <th>Patient Code</th>
              <th>First Name</th>
              <th>LastName</th>
              <th>Gender</th>
              <th>Date of Birth</th>
              <th>Status</th>
              <th>Actions</th>
          </tr>
      </tfoot>
    </table>
      </form>
{% endblock %}
