{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block main %}
  <h3><i class="fa fa-angle-right"></i> Completed Labs</h3>
  <div>
    <table id="example" class="table table-bordered bg-white p-4 mt-3">
      <thead>
        <tr>
          <th>#</th>
          <th>Date Requested</th>
          <th>Date Requested</th>
          <th>Patient</th>
          <th>Requested By</th>
          <th>Lab Type</th>
          <th>Results</th>
          <th>Note</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>P09901</td>
            <td>9/22/2021</td>
            <td>9/24/2021</td>
            <td>John Doe</td>
            <td>Dr. <span>Ben Soffes</span></td>
            <td>Blood Count</td>
            <td>1209</td>
            <td>All Good</td>
          </tr>
          <tr>
            <td>P09901</td>
            <td>9/22/2021</td>
            <td>9/24/2021</td>
            <td>John Doe</td>
            <td>Dr. <span>Ben Soffes</span></td>
            <td>Blood Count</td>
            <td>1209</td>
            <td>All Good</td>
          </tr>
          <tr>
            <td>P09901</td>
            <td>9/22/2021</td>
            <td>9/24/2021</td>
            <td>John Doe</td>
            <td>Dr. <span>Ben Soffes</span></td>
            <td>Blood Count</td>
            <td>1209</td>
            <td>All Good</td>
          </tr>
        </tbody>
    </table>
  </div>
{% endblock %}