<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% extends "layout.html" %}
    {% block title %}{{title}}{% endblock %}
    {% block main %}
      <h3><i class="fa fa-angle-right"></i> New Imaging</h3>
      <div>
        <form class="row g-3 bg-white p-4 mt-3" method="post">
          {% block flashMessages %}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="text-danger p-2">{{ message }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
          {% endblock%}
          <div class="col-md-12">
            <label for="patientCode" class="form-label">Patient Code</label>
            <input type="number" min="0s" class="form-control" name="patient_id" value="" required>
          </div>

          <label>Imaging Type:</label>

          <div class="col-md-3">
            <input type="checkbox" class="" name="covid" value="">
            <label for="covid" class="form-label">Covid-19</label>
          </div>

          <div class="col-md-3">
            <input type="checkbox" class="" name="" value="">
            <label for="" class="form-label">CT Abdomen</label>
          </div>

          <div class="col-md-3">
            <input type="checkbox" class="" name="" value="">
            <label for="" class="form-label">Covid-19</label>
          </div>

          <div class="col-md-3">
            <input type="checkbox" class="" name="covid" value="">
            <label for="covid" class="form-label">Covid-19</label>
          </div>

          <div class="col-md-3">
            <input type="checkbox" class="" name="covid" value="">
            <label for="covid" class="form-label">Covid-19</label>
          </div>

          <div class="col-md-3">
            <input type="checkbox" class="" name="" value="">
            <label for="" class="form-label">CT Head</label>
          </div>

          <div class="col-md-3">
            <input type="checkbox" class="" name="covid" value="">
            <label for="covid" class="form-label">Covid-19</label>
          </div>
          <div class="col-md-3">
            <input type="checkbox" class="" name="covid" value="">
            <label for="covid" class="form-label">Covid-19</label>
          </div>

          <div class="col-md-3">
            <button type="submit" name="submit" value="add_lab" class="btn btn-small btn-theme">Add Lab</button>
            <button type="submit" name="submit" class="btn btn-small btn-danger">Cancel</button>
          </div>
        </form>
      </div>
    {% endblock %}

  </body>
</html>
